#contact {
  background-image: url('../images/background-contact.jpg');
  /* height: auto; */
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
#grid-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'title photo'
    'text photo'
    'links photo';
  padding: 50px;
}
#grid-contact p {
  grid-area: text;
  font-family: 'Popins', sans-serif;
  text-align: center;
  padding-left: 50px;
  color: white;
}

.contact-title {
  grid-area: title;
  font-family: 'Protest Strike', sans-serif;
  font-size: 45px;
  text-align: center;
}

.links {
  grid-area: links;
  text-align: center;
}
.links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 45px;
  padding: 0px 20px;
}
.links a:hover {
  opacity: 0.7;
}

#profile-picture {
  grid-area: photo;
  display: flex;
  justify-self: center;
}

/* MOBILE DISPLAY */
@media screen and (max-width: 480px) {
  #contact {
    background-position: top;
  }
  #profile-picture {
    display: none;
  }
  #grid-contact {
    display: flex;
    flex-direction: column;
    padding: 50px;
  }
  #grid-contact p {
    grid-area: text;
    font-family: 'Popins', sans-serif;
    text-align: center;
    padding-left: 0;
  }
}
