/* DESKTOP DISPLAY*/
#portfolio {
  background-color: rgb(246, 240, 232);
}

.section-title {
  padding: 25px 0;
  margin-bottom: 0;
}

#project-intro {
  text-align: center;
  font-family: 'Popins', sans-serif;
  font-size: 16px;
}

/* MOTION EXP. SECTION : DESKTOP */
#motionexp {
  position: relative;
  height: auto;
  width: 100%;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  grid-template-rows: auto;
  grid-template-areas: 'text images';
  background-color: rgba(237, 32, 49, 0.8);
}

.project-presentation-left {
  grid-area: text;
  color: white;
  text-align: justify;
}
.project-presentation-left h3 {
  font-family: 'Protest Strike', sans-serif;
  color: black !important;
  padding-bottom: 15px;
  font-size: 33px !important;
}
.project-presentation-left p {
  font-family: 'Popins', sans-serif;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
.stack li {
  font-size: 12px;
  font-weight: 700;
  display: inline;
  padding: 8px;
  margin: 5px;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.btn-prev,
.btn-next {
  cursor: pointer;
  text-decoration: none;
  width: auto;
  padding: 8px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 8px;
  user-select: none;
  color: black;
  background-color: rgba(0, 0, 0, 0.25);
}

.btn-prev {
  position: absolute;
  top: 49%;
  left: 48%;
}

.btn-next {
  position: absolute;
  top: 49%;
  left: 92%;
}
.photo-list {
  grid-area: images;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-390%, -100%);
}
.photo-list li {
  list-style-type: none;

  width: 170px;
  height: 200px;
  opacity: 0.8;
  position: absolute;
  left: 50%;
  margin-left: -00px;
  border-radius: 2px;
  /* background: #9c89b8; */
  transition: transform 1s, opacity 1s;
  text-align: center;
}
.photo-list .act {
  opacity: 1;
}
.photo-list .prev,
.photo-list .next {
  cursor: default;
}
.photo-list .prev {
  transform: translateX(-200px) scale(0.9);
}

.photo-list .next {
  transform: translateX(200px) scale(0.9);
}

.photo-list .hide,
.photo-list .new-next,
.photo-list .new-next-2,
.photo-list .new-next-3,
.photo-list .new-next-4 {
  opacity: 0;
  transition: opacity 0.1s, transform 1.5s;
}
.photo-list .hide {
  transform: translateX(0px) scale(0.85);
}

.photo-list .new-next,
.photo-list .new-next-2,
.photo-list .new-next-3,
.photo-list .new-next-4 {
  transform: translateX(0px) scale(0.85);
}

.swipe {
  width: 270px;
  height: 200px;
  position: absolute;
  background-color: green;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* E-CAR SECTION : DESKTOP */
#e-car {
  position: relative;
  height: auto;
  padding: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'images text';
  background-color: rgba(239, 216, 164, 0.8);
}
#laptop-frame img {
  position: relative;
  top: 11%;
  left: 7%;
}

.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.slides {
  display: none;
}
.slides img {
  vertical-align: middle;
}

#dots {
  padding-top: 16px;
}

.dot {
  color: black;
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bba17c;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #111111;
}
.project-presentation-right {
  display: flex;
  flex-direction: column;
  color: black;
  text-align: justify;
}
.project-presentation-right h3 {
  font-family: 'Protest Strike', sans-serif;
  color: black;
  padding-bottom: 15px;
  font-size: 33px;
}
.project-presentation-right p {
  font-family: 'Popins', sans-serif;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
.stack li {
  font-size: 12px;
  font-weight: 700;
  display: inline;
  padding: 8px;
  margin: 5px;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
/** MOBILE DISPLAY **/
@media screen and (max-width: 480px) {
  .section-title {
    padding: 15px 0;
    font-size: 35px;
  }

  .section-title h3 {
    padding-top: 25px;
  }
}
/* MOTION EXP. SECTION : MOBILE DISPLAY */
@media screen and (max-width: 380px) {
  #motionexp {
    position: relative;
    height: auto;
    width: 100%;
    padding: 50px 40px 50px 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    grid-template-areas:
      'images'
      'text';
    background-color: rgba(237, 32, 49, 0.8);
  }

  .photo-list {
    grid-area: images;
    height: 50px;
    position: absolute;
    top: auto;
    left: -5%;
    transform: translate(9vh, 0%);
  }

  .photo-list img {
    height: 290px;
  }
  .photo-list li {
    list-style-type: none;

    width: 25px;
    height: 200px;
    opacity: 0.8;
    position: absolute;
    left: 50%;
    margin-left: -00px;
    border-radius: 2px;
    transition: transform 1s, opacity 1s;
    text-align: center;
  }
  .photo-list .prev {
    transform: translateX(-106px) scale(0.7);
  }

  .photo-list .next {
    transform: translateX(144px) scale(0.7);
  }
  .project-presentation-left {
    grid-area: text;
    padding-top: 315px;
  }
  .btn-prev {
    position: absolute;
    top: 28%;
    left: 14%;
  }

  .btn-next {
    position: absolute;
    top: 28%;
    left: 80%;
  }
}
@media screen and (min-width: 381px) and (max-width: 480px) {
  #motionexp {
    position: relative;
    height: auto;
    width: 100%;
    padding: 50px 40px 50px 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    grid-template-areas:
      'images'
      'text';
    background-color: rgba(237, 32, 49, 0.8);
  }

  .photo-list {
    grid-area: images;
    height: 50px;
    position: absolute;
    top: auto;
    left: -5%;
    transform: translate(9vh, 0%);
  }

  .photo-list img {
    height: 290px;
  }
  .photo-list li {
    list-style-type: none;

    width: 25px;
    height: 200px;
    opacity: 0.8;
    position: absolute;
    left: 80%;
    margin-left: -00px;
    border-radius: 2px;
    transition: transform 1s, opacity 1s;
    text-align: center;
  }
  .photo-list .prev {
    transform: translateX(-105px) scale(0.7);
  }

  .photo-list .next {
    transform: translateX(143px) scale(0.7);
  }
  .project-presentation-left {
    grid-area: text;
    padding-top: 315px;
  }
  .btn-prev {
    position: absolute;
    top: 31%;
    left: 14%;
  }

  .btn-next {
    position: absolute;
    top: 31%;
    left: 80%;
  }
}

/* E-CAR SECTION : MOBILE DISPLAY */
@media screen and (max-width: 480px) {
  #e-car {
    position: relative;
    height: auto;
    padding: 50px 40px 50px 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    grid-template-areas:
      'images'
      'text';
    background-color: rgba(237, 202, 125, 0.8);
  }

  #laptop-frame img {
    position: relative;
    top: 11%;
    left: 7%;
    size: 200px;
  }
  .slideshow {
    max-width: 100px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .slides img {
    height: 55vw;
  }

  #dots {
    display: flex;
  }
  .dot {
    padding-right: 10px;
  }
}
